<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.delicacieslogwas.dao.UserDao">

    <!-- 사용자 정보 조회 -->
    <select id="getUserById" parameterType="Long" resultType="com.example.delicacieslogwas.dto.UserDto">
        SELECT USER_ID, PASSWORD, USER_NM, EMAIL
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <!-- 사용자 추가 -->
    <insert id="insertUser" parameterType="com.example.delicacieslogwas.dto.UserDto">
        INSERT INTO USERS (USER_ID, PASSWORD, USER_NM, EMAIL)
        VALUES (#{userId}, #{password}, #{userNm}, #{email})
    </insert>
</mapper>
